* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", sans-serif;
}

header {
  height: 15vh;
  background-color: #f5e050;
}

footer {
  height: 20vh;
  background-color: #f5e050;
}

#input-area {
  height: 20vh;
  width: 60vh;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  resize: none;
  font-weight: 700;
  padding: 1rem;
}

#btn-translate {
  margin: 1rem auto 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f5e050;
  cursor: pointer;
}

#btn-translate:hover {
  color: #f5e050;
  background-color: #000;
}

#btn-translate h4 {
  padding: 0.5rem;
  font-weight: 400;
}

#output-area {
  height: 20vh;
  width: 60vh;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 700;
}

.translate-para {
  margin-bottom: 0.5rem;
  font-size: 14px;
  margin-right: 33%;
}

.input-output-container {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  padding-top: 1.8rem;
}

.about {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  padding-top: 1.5rem;
}

.about-details {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 1rem auto;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  height: 100%;
}

.right img {
  object-fit: cover;
  padding-top: 1.5rem;
}
